* {
    margin: 0;
    padding: 0;
}
.page {
    height: 4554px;
    /*background-color: yellow;*/
    margin: 0 auto;
}
.header {
    height: 56px;
    background-color: white;
}
.logo {
    float: left;
    margin-left: 59px;
    line-height: 56px;
}
.logo img {
    float: left;
    margin-top: 8px;
}
.logo .logo_text {
    float: left;
    margin-left:11px;
    font-size: 19px;
    line-height: 56px;
}
.right {
    height: 56px;
    float: right;
}
.right>.login {
    float: right;
    line-height: 56px;
    margin-right: 70px;
}
.right>.nav {
    height: 56px;
    font:normal 16px "微软雅黑";
    float: left;
    line-height: 56px;

}
.right .nav {

}
.right .nav li {
    height: 56px;
    width: 65px;
    list-style: none;
    float: left;
    margin-right: 40px;
    text-align: center;
}
.right .nav li a {
    text-decoration: none;
    color: #7b7a7f;
}
.right .nav li:hover {
    border-bottom: 3px solid #e84f51;
}
.right .nav a:hover {
    color: #e84f51;
}

.content {
    height: 4439px;
    /*background-color: palegreen;*/
    position: relative;
}
.content .one .pic {
    background-image: url("../img/5.jpg");
    background-repeat:no-repeat;
    height: 690px;
}
.content .one .pic .info {
    position: absolute;
    margin: 230px 0 0 116px;

}
.content .one .pic .info .en {
    color: #feffff;
    font-size: 62px;
    margin-bottom: 15px;
}
.content .one .pic .info .chn {
    font-weight:lighter;
    color: #feffff;
    font-size: 28px;
}
.content .one .pic .info button{
    width: 330px;
    height: 63px;
    margin-top: 67px;
    background-color: #e8504f;
    font: 27px normal;
    color: #feffff;
    line-height: 63px;
    border: 0px solid #000;
}

.secord-part{
    height: 250px;
    font-size: 0;
}
.secord-part .sec-intro {
    width: 25%;
    height: 170px;
    display: inline-block;
    text-align: center;
}
.secord-part .sec-intro img{
    display: block;
    margin: 40px auto;
}
.secord-part .sec-intro figcaption .detail{
    text-align: center;
    font-size: 14px;
    color: #8d8d8d;
    width: 100%;
    height: 51px;
    border-right: 1px solid #8d8d8d;
    cursor: pointer;
    transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
}
.secord-part .sec-intro figcaption .detail:hover{
    color: #e74f4d;
}
.secord-part .sec-intro:last-child .detail{
    border: none;
}

.three {
    height: 360px;
    background-color: #ededed;
    position: relative;
}
.three img {
    width: 91px;
    height: 91px;
    position: absolute;
    left: 50%;
    top: 32%;
}
.three p {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 60%;
    font-size:60px ;
    color: #9c9c9c;
    margin-top: 40px;
}

.four {
    position: relative;
    height: 339px;
    background-image: url("../img/5.jpg");
    background-repeat:no-repeat;
    border-top: 1px solid #ffffff;
    text-align: center;
}
.four p {
    text-align: center;
    color: #f5eee8;
}
.four p:first-child {
    margin-top: 53px;
}
.four span {
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    height: 5px;
    border-top: 2px solid #FFFFFF;
    transition: width 0.3s ease-in-out;
    -webkit-transition: width 0.3s ease-in-out
}
.four select {
    width: 234px;
    height: 35px;
    margin-top: 100px;
    margin-left: 30px;
}
#country {
    margin-left: 125px;
}
.four button {
    width: 235px;
    height: 35px;
    margin-left: 29px;
    background-color: #be4e48;
    border: 0px solid #000;
}

.fifth-part{
    background-color: #f7f7f7;
    height: 605px;
    position: relative;
}
.fifth-part .box{
    height: 400px;
    width: 988px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.fifth-part .box figure{
    display: inline-block;
    text-align: center;
    padding-right: 36px;
}
.fifth-part .box  figure:last-child{
    padding-right: 0px;
}
.fifth-part .box  figure img{
    border: 1px solid #e1e1e1;
    padding: 10px 5px;
    background-color: #FFFFFF;
}
.fifth-part .box  .pic-place{
    color: #323333;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}
.fifth-part .box  .pic-title{
    font-size: 12px;
    color: #9f9f9f;
    margin: 5px 0;

}
.fifth-part .box  .place-em{
    letter-spacing: 38px;
    font-size: 19px;
    margin-right: -37px;
}

.six {
    height: 1087px;
    /*background-color: orchid;*/
}
.six_top {
    height: 566px;
}
.six_top .six_top_left {
    width: 66.6%;
    height: 100%;
    background: url("../img/sixPart-pic.jpg") no-repeat;
    display: inline-block;
    background-size:cover;
    position: relative;
}
.six_top .six_top_left .tittle {
    position: absolute;
    top: 17%;
    left: 44%;
    margin:0 -200px ;
    text-align: center;
    color: #ffffff;
}
.para-1 {
    font-size: 47px;
}
.para-2 {
    font-size: 160px;
}
.l-triangle {
    position: absolute;
    right: 0;
    top: 50%;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 30px solid #FFFFFF;
}
.six_top .six_top_right {
    width: 33.4%;
    height: 100%;
    background-color: #ffffff;
    display: inline-block;
    float: right;
    text-align: center;
}
.six_top .six_top_right .art-1 header{
    font-size: 22px;
    padding-top: 157px;
}
.six_top .six_top_right .art-1 span {
    color: #e74f4d;
}
.six_top .six_top_right .art-1 p {
    width: 292px;
    line-height: 25px;
    color: #aaaaa9;
    font-size: 14px;
    text-align: left;
    margin: 30px auto;
    padding-bottom: 30px;
}
.six_top .six_top_right a {
    padding: 10px 30px;
    text-decoration: none;
    color: #e74f4d;
    border: 1px solid #e74f4d;
}
.six_but {
    height: 520px;
}
.six_but div {
    display: inline-block;
}
.six_but .six_but_left {
    text-align: center;
    float: left;
    width: 33.3%;
    height: 520px;
    background-color: #e74f4d;
}
.six_but .six_but_left span{
    border-top: 2px solid #FFFFFF;
}
.six_but .six_but_left a{
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.para {
    margin-top: 163px;
    line-height: 30px;
}
.six_but .six_but_center {
    text-align: center;
    float: left;
    width: 33.3%;
    height: 520px;
    color: #e74f4d;
    background-color: #FFFFFF;
}
.six_but .six_but_right {
    width: 33.3%;
    height: 100%;
    background: url("../img/sevenPart-pic.jpg") no-repeat;
    float: right;
    -webkit-background-size:cover;
    background-size:cover;
    position: relative;
}
.six_but .six_but_right .r-triangle{
    position: absolute;
    left: 0;
    top: 50%;
    border-color: transparent transparent transparent #FFFFFF;
    border-style:solid;
    border-width: 20px 0 20px 30px;
    width: 0;
    height: 0;
}






















